.JokesList {
    display: flex;
    width: 80%;
    height: 80%;
}

.JokesList-sidebar {
    background: #9575cd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1), inset 0 0 25px #7e57c2;
    z-index: 2;
}

.JokesList-title {
    font-size: 4em;
    margin: 1em;
    text-align: center;
    color: white;
    font-weight: 300;
    letter-spacing: 0.6rem;
}

.JokesList-title span {
    font-weight: 700;
}

.JokesList-sidebar img {
    width: 50%;
    border-radius: 50%;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1), inset 0 0 25px #7e57c2;
    margin: 1em;
}

.JokesList-jokes {
    height: 90%;
    background: white;
    overflow-y: scroll;
    align-self: center;
    width: 70%;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
}

.JokesList-spinner {
    color: white;
    text-align: center;
}

.JokesList-getmore {
    font-size: 1.5rem;
    width: 50%;
    border-radius: 2rem;
    padding: 1rem 2rem;
    background: rgba(179, 229, 252, 1);
    color: white;
    font-weight: 700;
    outline: none;
    margin: 2rem;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.JokeList:hover{

}

@media screen and (max-width: 1080px) {
    .JokesList {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 95%;
    }
    .JokesList-jokes {
        width: 100%;
    }
    .JokesList-sidebar {
        flex-direction: row;
        width: 100%;
    }
    .JokesList-sidebar img {
        max-width: 100px;
    }
    .JokesList-title{
        font-size: 2em;
    }
}